
# --- Backend ---

backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/db.sqlite3

# --- Frontend ---
frontend/tickets-app/node_modules/
frontend/tickets-app/dist/
frontend/tickets-app/dist-ssr/
frontend/tickets-app/*.local
frontend/tickets-app/.env

# --- Editores / OS ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
npm-debug.log*